{% extends "base.html" %}

{% block title %}Tes Bakat - Mindera{% endblock %}

{% block content %}
<div class="tes-page-new bg-light-blue">
    <div class="tes-header-new">
        <h1>Pilih seberapa akurat setiap<br>pertanyaan mencerminkan diri Anda.</h1>
    </div>

    <div class="tes-container-new">
        <div class="progress-wrapper-new">
            <div class="progress-bar-new" id="progressBarBakat" style="width: 0%;"></div>
        </div>

        <form action="{{ url_for('submit_bakat') }}" method="POST" id="tesBakatForm">
            {% for p in pertanyaan %}
            <div class="tes-card-new" data-question="{{ p.nomor }}">
                <h3 class="question-title">{{ p.pertanyaan }}</h3>

                <div class="scale-group-vertical">
                    <label class="scale-label-vertical">
                        <input type="radio" name="bakat_{{ p.nomor }}" value="5" required>
                        <span class="scale-custom green"></span>
                        <span class="scale-text">Sangat Setuju</span>
                    </label>

                    <label class="scale-label-vertical">
                        <input type="radio" name="bakat_{{ p.nomor }}" value="4">
                        <span class="scale-custom"></span>
                        <span class="scale-text">Setuju</span>
                    </label>
                    
                    <label class="scale-label-vertical">
                        <input type="radio" name="bakat_{{ p.nomor }}" value="2">
                        <span class="scale-custom"></span>
                        <span class="scale-text">Tidak Setuju</span>
                    </label>

                    <label class="scale-label-vertical">
                        <input type="radio" name="bakat_{{ p.nomor }}" value="1">
                        <span class="scale-custom red"></span>
                        <span class="scale-text">Sangat Tidak Setuju</span>
                    </label>
                </div>
            </div>
            {% endfor %}

            <div class="submit-container">
                <button type="submit" class="btn-submit-new">
                    Submit Tes Bakat
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
